$base-dark-color: #02203a;
$base-dark-blue-color: #00428e;
$base-light-blue-color: #00b9ef;
$base-light-bule-bg-color: #f7fbff;
$base-light-bule-font-color: #0091eb;
$base-green-color: #7ec04d;
$base-yellow-color: #f8df08;
$base-red-color: #e9473f;
$base-orange-color: #f5a200;
$base-gray-color: #dae5f2;
$base-btn-color: #0091eb;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Montserrat";
}
.topbar {
  &__container {
    max-width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    background-color: $base-light-bule-bg-color;
    &__item {
      &__link {
        color: #111111;
        padding: 0.5rem;
        &--active {
          color: $base-light-bule-font-color;
          padding: 0.5rem;
          font-weight: bold;
        }
      }
    }
    &__navbar {
      display: flex;
      align-items: center;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 0.5rem;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  pointer-events: none;
}

.btn {
  border: 1px solid;
  border-radius: 16px;
  &--primary-active {
    background-color: $base-btn-color;
    color: white;
    &--primary-active:hover {
      color: white;
    }
    padding: 2px 14px;
  }
  &--primary-disable {
    color: white;
    padding: 0.5rem;
    &--primary-active:hover {
      color: white;
    }
    padding: 2px 14px;
  }
}
.disable {
  color: $base-gray-color;
}
